<!-- @@master  = ./_layout/_layout.html-->

<!-- @@block  =  title-->
<title>DanDan Shan | About</title>
<!-- @@close-->

<!-- @@block  =  content-->

<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>DanDan Shan, <br/>UI Designer At Taipei.</h1>
        <p>&nbsp;</p>
        <blockquote>
          “ Work hard, play hard with heart and soul. ”
        </blockquote>
        <p>DanDan Shan, a person who has lots of passion for design.<p>
        <p>Graduated from National Taipei University of Technology, majoring in interaction design.</p>
        <p>DanDan Shan is skilled at web front-end and user interface design, has 2 years work experience in user interface design.</p>
        <p>Love to try different challenges with team. Scrupulous, responsible, diligent are DanDan Shan's personality.</p>
      </div>
    </div>
  </div>
</section>  
<section style="background-color: #f5f5f5">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-30">
        <h3>Experience</h3>
        <div class="row">
          <div class="col-12 col-sm-3">
            <h5 class="heightlight">Digital Designer</h5>
            <div class="secondary">2019 . 03 &nbsp; — &nbsp; present</div>
          </div>
          <div class="col-12 col-sm-8 offset-sm-1">
            <h6>Common Health Magazine</h6>
          </div> 
        </div>
        <div class="row">
          <div class="col-12 col-sm-3">
            <h5 class="heightlight">Web UI Designer</h5>
            <div class="secondary">2017 . 08 &nbsp; — &nbsp; 2019 . 02</div>
          </div>
          <div class="col-12 col-sm-8 offset-sm-1">
            <h6>NuEIP Technology</h6>
            <p>• &nbsp; NuEIP hr system UI design, visual design, front-end design</p>
            <p>• &nbsp; co-working with product manager and back-end engineers</p>
            <p>• &nbsp; NuEIP official website maintenance</p>
            <p>• &nbsp; NuEIP technology brand design</p>
            <p>• &nbsp; Dediprog Technology official website design</p>
          </div> 
        </div>
        <div class="row">
          <div class="col-12 col-sm-3">
            <h5 class="heightlight">GUI Designer</h5>
            <div class="secondary">2016 . 01 &nbsp; — &nbsp; 2017 . 03</div>
          </div>
          <div class="col-12 col-sm-8 offset-sm-1">
            <h6>ASUS</h6>
            <p>• &nbsp; Zenfone GUI design</p>
            <p>• &nbsp; NTUE industry-university cooperative student counseling</p>
            <p>• &nbsp; ZenUI marketing videos and app tutorial videos design</p>
          </div> 
        </div>
        <div class="row">
          <div class="col-12 col-sm-3">
            <h5 class="heightlight">Visual Designer</h5>
            <div class="secondary">2013 . 10 &nbsp; — &nbsp; 2014 . 09</div>
          </div>
          <div class="col-12 col-sm-8 offset-sm-1">
            <h6>Taipei Tech x Sampo Smart TV Lab</h6>
            <p>• &nbsp; Sampo smart appliances design thinking and prototyping</p>
            <p>• &nbsp; Industry-university cooperative design performance</p>
          </div> 
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-12 mb-30">
        <h3 class="mb-10">Skills</h3>
        <div class="archive-list">
          <div>
            <div class="secondary">UI Design</div>
            <p>Sketch &nbsp; • &nbsp; Adobe XD &nbsp; • &nbsp; InVision &nbsp; • &nbsp; Marvel &nbsp; • &nbsp; Proto.io</p>
          </div>
          <div>
            <div class="secondary">Front-End Design</div>
            <p>HTML5 &nbsp; • &nbsp; CSS3 ( SASS ) &nbsp; • &nbsp; JS ( jquery )</p>
          </div>
          <div>
            <div class="secondary">Visual Design</div>
            <p>Illustrator &nbsp; • &nbsp; Photoshop &nbsp; • &nbsp; After Effects</p>
          </div>
        </div>
      </div>
      <div class="col-12 mb-30">
        <h3 class="mb-10">Design Proficiency</h3>
        <p>• &nbsp; building user stories, personas, UI flows and prototyping</p>
        <p>• &nbsp; sketching, creating wireframes and high quality visual design</p>
        <p>• &nbsp; experience in responsive web design</p>
        <p>• &nbsp; strong sense of design theory and typography</p>
      </div>
    </div>
  </div>
</section>
<!-- @@close-->