<!-- @@master  = ./_layout/_layout.html-->

<!-- @@block  =  title-->
<title>DanDan Shan | ASUS themes</title>
<!-- @@close-->

<!-- @@block  =  content-->
<section>
  <div class="container"> 
    <div class="page-desc">
      <h1 class="entry-title">ASUS themes</h1>
      <div class="post-info">
        <div>Client : ASUS</div>
        <div>Year : 2016 - 2017</div>
        <div class="post-tag"><i class="fas fa-tag fa-fw"></i> UI / UX</div>
        <div class="post-tag"><i class="fas fa-tag fa-fw"></i> Illustrations</div>
      </div>
      <div class="row d-flex justify-content-center">
      <div class="col-lg-9">
        <div class="content-wrap">
          <div class="content-desc">
            <p>在華碩任職其間，設計了多款兼顧美感、易用性及市場需求的手機主題包。</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section style="background: url('./assets/img/asus-themes/asus-themes_samurai_bg.png'); color: #fff;">
  <div class="container-fluid"> 
    <div class="row d-flex justify-content-center">
      <div class="col-lg-3">
        <h3>Samurai</h3>
        <!--<p>Silhouette style and exquisite icon design make screen clean, simple but interest and quality. If you are interested, you can purchase on <a href="https://designer.zenui.com/Gallery/GalleryDetail?hd=217" target="_blank">ASUS official website.</a></p>-->
        <p class="mt-30">簡潔俐落的剪影風格，搭配細膩的 icon 設計，讓手機畫面乾淨、清爽，又不失趣味及設計質感。</p>
        <div style="font-size: 12px;"><a href="https://designer.zenui.com/Gallery/GalleryDetail?hd=217" target="_blank" style="color: #fff;">See on ASUS ZenUI</a></div>
      </div>
      <div class="col-lg-8">
        <img src="./assets/img/asus-themes/asus-themes_samurai.png" alt="" width="100%">
      </div>
    </div>
  </div>
</section>
<section style="background: linear-gradient(45deg, #2a1d56 0%, #0b4c82 100%); color: #fff;">
  <div class="container-fluid"> 
    <div class="row d-flex justify-content-center">
      <div class="col-lg-3 order-lg-2 order-xl-2">
        <h3>Clione</h3>
        <!--<p>Silhouette style and exquisite icon design make screen clean, simple but interest and quality. If you are interested, you can purchase on <a href="https://designer.zenui.com/Gallery/GalleryDetail?hd=217" target="_blank">ASUS official website.</a></p>-->
        <p class="mt-30">孤單的冰海小精靈，在茫茫的大海中尋找牠的同伴。</p>
        <p>以藍、紫、綠色搭配的迷幻色調，調詮釋冰海小精靈這種神秘的生物。</p>
      </div>
      <div class="col-lg-8 order-lg-1 order-xl-1">
        <img src="./assets/img/asus-themes/asus-themes_clione.png" alt="" width="100%">
      </div>
    </div>
  </div>
</section>
<section style="background: url('./assets/img/asus-themes/asus-themes_nordic-life_bg.png'); color: #fff;">
  <div class="container-fluid"> 
    <div class="row d-flex justify-content-center">
      <div class="col-lg-3">
        <h3>Nordic Life</h3>
        <!--<p>Silhouette style and exquisite icon design make screen clean, simple but interest and quality. If you are interested, you can purchase on <a href="https://designer.zenui.com/Gallery/GalleryDetail?hd=217" target="_blank">ASUS official website.</a></p>-->
        <p class="mt-30">凌亂但有序的四坪北歐小房，一窺設計師的創意天堂。</p>
        <p>以白色為基調搭配木紋質感，並在畫面中運用綠色植物點綴，呈現設計師嚮往輕鬆、悠閒愜意的生活氛圍，好似打開手機，就能感到放鬆愉悅。</p>
        <div style="font-size: 12px;"><a href="https://designer.zenui.com/Gallery/GalleryDetail?hd=73" target="_blank" style="color: #fff;">See on ASUS ZenUI</a></div>
      </div>
      <div class="col-lg-8">
        <img src="./assets/img/asus-themes/asus-themes_nordic-life.png" alt="" width="100%">
      </div>
    </div>
  </div>
</section>
<section style="background: linear-gradient(45deg, #2361af 0%, #62b2ed 100%); color: #fff;">
  <div class="container-fluid"> 
    <div class="row d-flex justify-content-center">
      <div class="col-lg-3 order-lg-2 order-xl-2">
        <h3>Invigorating Water</h3>
        <!--<p>Silhouette style and exquisite icon design make screen clean, simple but interest and quality. If you are interested, you can purchase on <a href="https://designer.zenui.com/Gallery/GalleryDetail?hd=217" target="_blank">ASUS official website.</a></p>-->
        <p class="mt-30">自在的在水中優游，感受水的沁涼暢快。</p>
        <p>因應巴西的里約奧運而特別做的主題設計，以插畫風格，搭配涼爽的藍色，希望使用者套用了這款主題之後，即使在艷陽高照的大熱天，只要一滑開手機，就能有池水般清涼的感受。</p>
        <div style="font-size: 12px;"><a href="https://designer.zenui.com/Gallery/GalleryDetail?hd=110" target="_blank" style="color: #fff;">See on ASUS ZenUI</a></div>
      </div>
      <div class="col-lg-8 order-lg-1 order-xl-1">
        <img src="./assets/img/asus-themes/asus-themes_invigorating-water.png" alt="" width="100%">
      </div>
    </div>
  </div>
</section>
<!-- <div style="text-align: center;">Copyright ©ASUSTeK Computer Inc. All rights reserved.</div>-->
<!-- @@close-->