<!-- @@master  = ./_layout/_layout.html-->

<!-- @@block  =  title-->
<title>DanDan Shan</title>
<!-- @@close-->

<!-- @@block  =  content-->
<!--<section class="p-0">
  <div class="container">
    <div class="button-group filters-button-group">
      <div class="button filter-button active" data-filter="*">All</div>
      <div class="button filter-button" data-filter=".ui-ux">UI / UX</div>    
      <div class="button filter-button" data-filter=".web-design">Web Design</div>
    </div>
  </div>
</section>-->
<section>
  <div class="container-fluid">
    <div id="projects" class="row">
      <div class="col-12 project project-home ui-ux d-flex align-items-center justify-content-center" style="background-color: #7b96f0;');">
        <a href="./bonreve.html">
          <img src="./assets/img/bonreve/bonreve_cover.png" alt="" width="100%">
          <div class="portfolio-text-holder" style="background-color: #5a6cff;">
            <div class="project-info">
              <p class="project-title"><span>Bonreve App</span></p>
              <p><span># UI / UX &nbsp; # Visual Design</span></p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-12 project project-home web-design ui-ux d-flex align-items-center justify-content-center" style="background-image: url('./assets/img/nueip-visual-upgrade/nueip-visual-upgrade_cover_bg.png');">
        <a href="/nueip-visual-upgrade.html">
          <img src="./assets/img/nueip-visual-upgrade/nueip-visual-upgrade_cover_img.png" alt="" width="100%">
          <div class="portfolio-text-holder" style="background-color: #3889da;">
            <div class="project-info">
              <p class="project-title"><span>NuEIP HR System Visual Upgrade</span></p>
              <p><span># UI / UX &nbsp; # Visual Design &nbsp; # Web Front-End &nbsp; # Illustrations</span></p>
            </div>
          </div>
        </a>
      </div>      
      <div class="col-12 project project-home web-design ui-ux d-flex align-items-center justify-content-center" style="background: #37b0e7;">
        <a href="./nueip-line.html">
          <img src="./assets/img/nueip-line/nueip-line_cover_img.png" alt="" width="100%">
          <div class="portfolio-text-holder" style="background-color: #37b0e7;">
            <div class="project-info">
              <p class="project-title"><span>NuEIP LINE Chatbot</span></p>
              <p><span># UI / UX &nbsp; # Visual Design &nbsp; # Web Front-End</span></p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-12 project project-home ui-ux d-flex align-items-center justify-content-center" style="background: #92cde3;">
        <a href="./asus-themes.html">
          <img src="./assets/img/asus-themes/asus-themes_cover.png" alt="" width="100%">
          <div class="portfolio-text-holder" style="background-color: #92cde3;">
            <div class="project-info">
              <p class="project-title"><span>Asus Themes</span></p>
              <p><span># UI / UX &nbsp; # Illustrations</span></p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-12 project project-home web-design ui-ux d-flex align-items-center justify-content-center" style="background: #16407c;">
        <a href="./dediprog.html">
          <img src="./assets/img/dediprog/dediprog_cover_img.png" alt="" width="100%">
          <div class="portfolio-text-holder" style="background-color: #16407c;">
            <div class="project-info">
              <p class="project-title"><span>Dediprog Technology Official Website</span></p>
              <p><span># UI / UX &nbsp; # Visual Design &nbsp; # Web Front-End</span></p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-12 project project-home web-design ui-ux d-flex align-items-center justify-content-center" style="background-image: url('./assets/img/shan-chuan/shan-chuan_cover_bg.jpg');">
        <a href="./shan-chuan.html">
          <img src="./assets/img/shan-chuan/shan-chuan_cover_img.png" alt="">
          <div class="portfolio-text-holder" style="background-color: #8f9897;">
            <div class="project-info">
              <p class="project-title"><span>Shan-Chuan Rice Noodles Website</span></p>
              <p><span># UI / UX &nbsp; # Visual Design</span></p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
<!-- @@close-->