<!-- @@master  = ./_layout/_layout.html-->

<!-- @@block  =  title-->
<title>DanDan Shan | NuEIP LINE Chatbot</title>
<!-- @@close-->

<!-- @@block  =  customized.css-->
<style>
.ia::before {
  content: 'IA';
  display: block;
  font-size: 280px;
  font-weight: bold;
  color: #fff;
  position: absolute;
  top: -50px;
}
.visual::before {
  content: 'Visual Design';
  display: block;
  font-size: 280px;
  font-weight: bold;
  color: #f6f6f6;
  position: absolute;
  line-height: 250px;
  text-align: right;
}
.visual img {
  max-width: 450px;
  margin-bottom: 40px;
  border-radius: 4px;
  box-shadow: 0px 8px 20px rgba(100, 100, 100, 0.2);
}
</style>
<!-- @@close-->

<!-- @@block  =  content-->
<section>
  <div class="container">
    <div class="page-desc">
      <h1 class="entry-title">NuEIP LINE Chatbot</h1>
      <div class="post-info">
        <div>Client : NuEIP Technology</div>
        <div>Year : 2018</div>
        <div class="post-tag"><i class="fas fa-tag fa-fw"></i> UI / UX</div>
        <div class="post-tag"><i class="fas fa-tag fa-fw"></i> Visual Design</div>
        <div class="post-tag"><i class="fas fa-tag fa-fw"></i> Web Deisgn</div>        
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-lg-7 order-1 order-sm-1 order-md-1 order-lg-2 d-flex align-items-center">
        <div class="content-wrap">
          <div class="content-desc" style="margin-bottom: 120px;">
            <!-- <p>In charge of visual and front-end layout design in this project and co-working with back-end engineers. Based on user experience that including RWD, the interface guidelines of ios and android...GPS punch, inout sign, push notification...combine with HR system and LINE Bot. More than ten thousands of people are using NuEIP Bot.</p>-->
            <p>為了讓使用者能更迅速且方便的打卡，我們整合了 LINE Chatbot 與 NuEIP 雲端人資系統，功能包辦上下班 GPS 打卡、外出簽到、訊息推播通知等，不僅省去了使用者登入的麻煩，也讓訊息推播更即時。</p>
            <p>在專案中負責視覺與前端設計工作並與後端工程師合作，以使用者體驗為出發點，考量 RWD、iOS 及 Android 系統規範與易用性。產品上市後，使用者超過一萬人，廣受許多中小企業好評。</p>
            <br>
            <div class="row">
              <div class="col-12 col-sm-3">
                <a href="https://line.me/R/ti/p/%40nueip" target="_blank">
                    <img alt="Add Friends" src="https://scdn.line-apps.com/n/line_add_friends/btn/zh-Hant.png" width="100%" border="0" style="max-width: 150px;">
                </a>
              </div>
              <div class="col-12 col-sm-9"><span class="font-16">擁有 NuEIP 雲端人資系統帳戶，加入好友並綁定帳號，即可使用 LINE Chatbot 打卡</span></div>
            </div>
          </div>          
        </div>
      </div>
      <div class="col-lg-5 order-2 order-sm-2 order-md-2 order-lg-1">
        <div style="width: 100%; text-align: center;">
          <img src="./assets/img/nueip-line/nueip-line_01.gif" alt="" style="max-height: 600px;">
        </div>
      </div>
    </div>
  </div>    
</section>
<section class="ia" style="background: #eee;">
  <div class="container-fluid">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-12 col-xl-8">
        <h3>Information Architecture</h3>
        <div style="text-align: center; margin: 50px auto;">
          <img src="./assets/img/nueip-line/nueip-line_IA.svg" width="100%" style="max-width: 1000px;">
        </div>
      </div>
    </div>
  </div>
</section>
<section class="visual">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-50">
        <h3>Visual Design</h3>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-md-4 px-0 center-text mb-30">
        <img src="./assets/img/nueip-line/nueip-line_01.jpg" width="100%">
        <p class="img-desc" style="margin-top: -30px;"><i class="fas fa-caret-up fa-fw"></i>點選 打卡/簽到 按鈕</p>
      </div>
      <div class="col-md-4 offset-md-1 px-0 center-text">
        <img src="./assets/img/nueip-line/nueip-line_02.jpg" width="100%">
        <p class="img-desc" style="margin-top: -30px;"><i class="fas fa-caret-up fa-fw"></i>打卡程序處理中</p>
      </div>
      <div class="col-md-4 px-0 center-text mb-30">
        <img src="./assets/img/nueip-line/nueip-line_03.jpg" width="100%">
        <p class="img-desc" style="margin-top: -30px;"><i class="fas fa-caret-up fa-fw"></i>打卡成功回饋</p>
      </div>
      <div class="col-md-4 offset-md-1 px-0 center-text">
        <img src="./assets/img/nueip-line/nueip-line_04.jpg" width="100%">
        <p class="img-desc" style="margin-top: -30px;"><i class="fas fa-caret-up fa-fw"></i>打卡失敗回饋</p>
      </div>
      <div class="col-md-4 px-0 center-text mb-30">
        <img src="./assets/img/nueip-line/nueip-line_05.jpg" width="100%">
        <p class="img-desc" style="margin-top: -30px;"><i class="fas fa-caret-up fa-fw"></i>提醒 — 檢視出勤記錄及提醒訊息</p>
      </div>
      <div class="col-md-4 offset-md-1 px-0 center-text">
        <img src="./assets/img/nueip-line/nueip-line_06.jpg" width="100%">
        <p class="img-desc" style="margin-top: -30px;"><i class="fas fa-caret-up fa-fw"></i>提醒 — 檢視 GPS 打卡資訊</p>
      </div>
    </div>
  </div>
</section>
<!-- @@close-->