<!-- @@master  = ./_layout/_layout.html-->

<!-- @@block  =  title-->
<title>DanDan Shan | NuEIP Visual Upgrade</title>
<!-- @@close-->

<!-- @@block  =  customized.css-->
<style>
.color-card {
  width: 100%;
  height: 200px;
  border-radius: 8px;
  color: #fff;
  margin-bottom: 30px;
  padding: 20px;
}
.color-card:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, .2);
  transition: box-shadow .2s linear;

}
.visual img {
  max-width: 450px;
  margin-bottom: 40px;
  border-radius: 8px;
  box-shadow: 0px 8px 20px rgba(100, 100, 100, 0.2);
  border-radius: 4px;
}
</style>
<!-- @@close-->

<!-- @@block  =  content-->
<section>
  <div class="container">    
    <div class="page-desc">
      <h1 class="entry-title">NuEIP Visual Upgrade</h1>
      <div class="post-info">
        <div>Client : NuEIP Technology</div>
        <div>Year : 2018</div>
        <div class="post-tag"><i class="fas fa-tag fa-fw"></i> UI / UX</div>
        <div class="post-tag"><i class="fas fa-tag fa-fw"></i> Visual Design</div>
        <div class="post-tag"><i class="fas fa-tag fa-fw"></i> Web Front-End</div>
        <div class="post-tag"><i class="fas fa-tag fa-fw"></i> Illustrations</div>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-lg-9">
        <div class="content-wrap">
          <div class="content-desc">
            <!-- <p>In charge of visual and front-end layout design in this project and co-working with back-end engineers. Based on user experience that including RWD, the interface guidelines of ios and android...GPS punch, inout sign, push notification...combine with HR system and LINE Bot. Users are almost ten thousands of people and well received by the public.</p> -->
            <p>有感於中小企業面對人資相關e化的無助徬徨，人易科技以自行開發的內部系統管理經驗，優化、精實，於 2016 年推出 NuEIP 雲端人資系統，致力推展中小企業e化管理。</p>
            <p>NuEIP 雲端人資系統推出雖然僅有兩年多，卻因介面簡潔、操作簡單、功能完善等優勢，深受眾多中小企業喜愛。</p>
            <p>這次的視覺升級計畫，雖是沿續既有 CIS 規範，但針對字型、標準色等許多細節做了重整，讓這個品牌更年輕、有活力的形象呈現在每位消費者面前。</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="ia" style="background: #eaeff9;">
  <div class="container-fluid">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-12 col-xl-8">
        <h3>Information Architecture</h3>
        <div style="text-align: center; margin: 50px auto;">
          <img src="./assets/img/nueip-visual-upgrade/nueip-visual-upgrade_IA.svg" width="100%" style="max-width: 1000px;">
        </div>
      </div>
    </div>
  </div>
</section>
<section style="background: #eaeff9; overflow: hidden;">
  <img src="./assets/img/nueip-visual-upgrade/nueip-visual-upgrade_typography_bg.png" style="transform-origin:left; transform:skewY(8deg); opacity: .03; position: absolute; top: -180px; bottom: 0; left: -200px; right: 0;">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-12">
        <h3 class="mb-30">Typography</h3>
        <div class="row mb-30">
          <div class="col-sm-2 col-lg-2 offset-lg-1"><p>English</p></div>
          <div class="col-sm-10 col-lg-8">
            <img src="./assets/img/nueip-visual-upgrade/nueip-visual-upgrade_typography_en.svg" width="100%">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2 col-lg-2 offset-lg-1"><p>Chinese</p></div>
          <div class="col-sm-10 col-lg-8">
            <img src="./assets/img/nueip-visual-upgrade/nueip-visual-upgrade_typography_tc.svg" width="100%">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section style="background: #c7e1f5;">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-12 col-xl-10">
        <h3 class="mb-30">Colors</h3>        
        <div class="row">
          <div class="col-lg-12 col-xl-10">
            <p>色彩方面，微調了各個顏色的色相、明度及彩度，讓整體調性更一致、和諧。</p>
          </div>
          <div class="col-6 col-lg-6 col-xl-6">
            <div class="color-card"style="background: #2796db;"><p class="font-24">#2796db</p></div>
          </div>
          <div class="col-6 col-lg-6 col-xl-6">
            <div class="color-card"style="background: #f9c518;"><p class="font-24">#f9c518</p></div>
          </div>
          <div class="col-6 col-lg-6 col-xl-6">
            <div class="color-card"style="background: #eb5345;"><p class="font-24">#eb5345</p></div>
          </div>
          <div class="col-6 col-lg-6 col-xl-6">
            <div class="color-card"style="background: #34a85a;"><p class="font-24">#34a85a</p></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section style="background: #c7e1f5;">
  <div class="container-fluid">
    <div class="row d-flex justify-content-center">
      <div class="col-md-10 col-lg-11">
        <h3>Visual Design Before & After</h3>
        <div class="row">
          <div class="col-12 col-lg-3 d-flex align-items-start flex-column">
            <div class="my-auto">
              <p class="text-left">Login page</p>
              <p class="text-left">用活潑的插圖取代原本枯燥沉悶的寫實圖片，讓登入畫面與品牌形象有更高的連結性，也讓產品更有專業及信賴感。</p>
            </div>
            <div class="mx-auto">
              <img class="mb-20" src="./assets/img/nueip-visual-upgrade/nueip-visual-upgrade_login_brfore.jpg" width="100%" style="max-width: 600px;">
              <p class="img-desc"><i class="fas fa-caret-up fa-fw"></i>Before</p>
            </div>
          </div>
          <div class="col-12 col-lg-9">
            <img src="./assets/img/nueip-visual-upgrade/nueip-visual-upgrade_login_after_mockup.png" width="100%">
            <p class="img-desc" style="margin-top: -30px;"><i class="fas fa-caret-up fa-fw"></i>After</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section style="background: #c7e1f5;">
  <div class="container-fluid">
    <div class="row d-flex justify-content-center">
      <div class="col-md-11">
        <div class="row">
          <div class="col-12 col-lg-9">
            <img src="./assets/img/nueip-visual-upgrade/nueip-visual-upgrade_dashboard_after_mockup.png" width="100%">
            <p class="img-desc" style="margin-top: -30px;"><i class="fas fa-caret-up fa-fw"></i>After</p>
          </div>
          <div class="col-12 col-lg-3 d-flex align-items-start flex-column">
            <div class="my-auto">
              <p class="text-left">Dashboard</p>
              <p class="text-left">為了讓使用者正專心在重要資訊上，減少部分不必要的塊狀排版及框線分隔，並調整輔助元素顏色，凸顯重要訊息，使整體畫面更俐落清爽。</p>
            </div>
            <div class="mx-auto">
              <img class="mb-20" src="./assets/img/nueip-visual-upgrade/nueip-visual-upgrade_dashboard_before.jpg" width="100%" style="max-width: 600px;">
              <p class="img-desc"><i class="fas fa-caret-up fa-fw"></i>Before</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section style="background: #c7e1f5;">
  <div class="container-fluid">
    <div class="row d-flex justify-content-center">
      <div class="col-md-11">
        <div class="row">
          <div class="col-12 col-lg-3 d-flex align-items-start flex-column">
            <div class="my-auto">
              <p class="text-left">Inside Menu</p>
              <p class="text-left">移除佔位、令人分心又無意義的 Banner，並優化側邊選單，讓其可以自由開關，而收闔時右側便有更多位置能呈現資訊。</p>
              <p>也調整了整個版面元素的配色，讓重要、常用的功能更一目瞭然。</p>
            </div>
            <div class="mx-auto">
              <img class="mb-20" src="./assets/img/nueip-visual-upgrade/nueip-visual-upgrade_hr-content_befote.jpg" width="100%" style="max-width: 600px;">
              <p class="img-desc"><i class="fas fa-caret-up fa-fw"></i>Before</p>
            </div>
          </div>
          <div class="col-12 col-lg-9">
            <img src="./assets/img/nueip-visual-upgrade/nueip-visual-upgrade_hr-content_after_mockup.png" width="100%">
            <p class="img-desc" style="margin-top: -30px;"><i class="fas fa-caret-up fa-fw"></i>After</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- @@close-->